nav ul,
ul.menu {
  display: flex;
  align-items: center;

  li {
    padding: $spacing--xsmall $spacing--small;
  }

  a {
    display: inline-flex;
    align-items: center;
  }
}

ul.contextual-links {
  a {
    margin: 0.25em 0 !important;
    padding: 0.4em 0.6em !important;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    color: black !important;

    &:hover,
    &:focus {
      text-decoration: underline !important;
    }
  }
}