.background--transparent {
  --color-background: transparent;
}

.background--black {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
}
.background--white {
  --color-background: var(--color-white);
  --color-text: var(--color-black);
}
.background--blue {
  --color-background: var(--color-blue);
  --color-text: var(--color-white);
}