#toolbar-administration,
#coffee-bg,
#coffee-form,
.ui-dialog {
  --color-background: 1 !important;
  --color-text: 1 !important;
}

.ui-dialog.ui-dialog-off-canvas,
.ui-dialog.ui-dialog-off-canvas .ui-widget-content.ui-dialog-content {
  background-color: #222;
  color: #fff;
}