.mobile-nav-toggle {
  box-shadow: none !important;
  padding: 0;
  border-radius: 0;

  span.menu-icon {
    height: 30px;
    width: 35px;
    display: block;
    position: relative;
    z-index: -1;

    & > span {
      height: 5px;
      width: 100%;
      background-color: var(--color-text);
      border-radius: 999px;
      position: absolute;
      transform-origin: center;
      left: 0;
      transition: all 0.33s ease-in-out;

      &:nth-child(1) {top: 0; transform: translate3d(0,0,0) rotate3d(0,0,0,0)}
      &:nth-child(2) {top: 50%; transform: translate3d(0,-50%,0) scale(1)}
      &:nth-child(3) {top: 100%; transform: translate3d(0,-100%,0) rotate3d(0,0,0,0)}
    }
  }

  &[aria-expanded=true] {
    span.menu-icon {
      & > span {
        &:nth-child(1) {top: 50%; transform: translate3d(0,-50%,0) rotate3d(0,0,1,405deg)}
        &:nth-child(2) {top: 50%; transform: translate3d(0,-50%,0) scale(0)}
        &:nth-child(3) {top: 50%; transform: translate3d(0,-50%,0) rotate3d(0,0,1,-405deg)}
      }
    }
  }
}

#mobile-nav {
  ul {

  }
}