[class*='width--'],
[class*='width-child--'] > * {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

// @include sizing($property, $selectors, $mq) {
//   &--1-1#{$mq} #{$selectors} { #{$property}: percentage(1/1); }
// }

.width-child  { @include sizing('width', '> *')}

@include biggerThan($breakpoint--xsmall) {
  .width-child  { @include sizing('width', '> *', '#{\@}xs')}
}
@include biggerThan($breakpoint--small) {
  .width-child  { @include sizing('width', '> *', '#{\@}s')}
}
@include biggerThan($breakpoint--medium) {
  .width-child  { @include sizing('width', '> *', '#{\@}m')}
}
@include biggerThan($breakpoint--large) {
  .width-child  { @include sizing('width', '> *', '#{\@}l')}
}
@include biggerThan($breakpoint--xlarge) {
  .width-child  { @include sizing('width', '> *', '#{\@}xl')}
}


.width        { @include sizing('width') }
@include biggerThan($breakpoint--xsmall) {
  .width        { @include sizing('width', '', '#{\@}xs') }
}
@include biggerThan($breakpoint--small) {
  .width        { @include sizing('width', '', '#{\@}s') }
}
@include biggerThan($breakpoint--medium) {
  .width        { @include sizing('width', '', '#{\@}m') }
}
@include biggerThan($breakpoint--large) {
  .width        { @include sizing('width', '', '#{\@}l') }
}
@include biggerThan($breakpoint--xlarge) {
  .width        { @include sizing('width', '', '#{\@}xl') }
}
