input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.button,
[class*="button--"] {
  --color-background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  padding: $spacing--small $spacing;
  appearance: none;
  border-radius: 999px;
  color: var(--color-text);
  border: 3px solid var(--color-background);
  box-shadow: 0 0 0 0 var(--color-text) inset;
  transition: box-shadow 0.33s ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px var(--color-text) inset;
    cursor: pointer;
  }

  svg {
    margin: 0 $spacing--xsmall;

    &:first-child {margin-left: 0;}
    &:last-child {margin-right: 0;}
  }

  &.plain {
    display: inline-block;
    text-transform: none;
    font-weight: inherit;
    padding:0;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    transition: none;
  }

}

.button {

  &--primary {
    --color-background: var(--color-blue);
    --color-text: var(--color-white);
    --color-focus: var(--color-black);
  }
}