[modal=mobile-nav] {
  background-color: transparent;
  --color-text: var(--color-white);
  height: calc(100% - #{$spacing});
  width: calc(100% - #{$spacing});

  ul.menu {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: $spacing--xlarge;

    li.active-trail {
      border-bottom: 5px solid var(--color-accent);
    }

    li{
      a {
        color: var(--color-text);
        font-size: 2em;
        text-decoration: none;
        padding: $spacing--small;
        padding-left: 0;
        font-weight: bolder;
      }

      & + li {
        margin-top: $spacing;
      }
    }
  }
}