.margin--remove {margin: 0 !important;}
.margin--xs     {margin: $spacing--xsmall !important;}
.margin--s      {margin: $spacing--small !important;}
.margin--m,
.margin         {margin: $spacing !important;}
.margin--l      {margin: $spacing--large !important;}
.margin--xl     {margin: $spacing--xlarge !important;}

// Vertical
.margin-v--remove {margin-top: 0 !important; margin-bottom: 0 !important;}
.margin-v--xs     {margin-top: $spacing--xsmall !important; margin-bottom: $spacing--xsmall !important;}
.margin-v--s      {margin-top: $spacing--small !important; margin-bottom: $spacing--small !important;}
.margin-v--m,
.margin-v         {margin-top: $spacing !important; margin-bottom: $spacing !important;}
.margin-v--l      {margin-top: $spacing--large !important; margin-bottom: $spacing--large !important;}
.margin-v--xl     {margin-top: $spacing--xlarge !important; margin-bottom: $spacing--xlarge !important;}

// Horizontal
.margin-h--remove {margin-left: 0 !important; margin-right: 0 !important;}
.margin-h--xs     {margin-left: $spacing--xsmall !important; margin-right: $spacing--xsmall !important;}
.margin-h--s      {margin-left: $spacing--small !important; margin-right: $spacing--small !important;}
.margin-h--m,
.margin-h         {margin-left: $spacing !important; margin-right: $spacing !important;}
.margin-h--l      {margin-left: $spacing--large !important; margin-right: $spacing--large !important;}
.margin-h--xl     {margin-left: $spacing--xlarge !important; margin-right: $spacing--xlarge !important;}
.margin--auto,
.margin-h--auto   {margin-left: auto !important; margin-right: auto !important;}

// Top
.margin-t--remove {margin-top: 0 !important;}
.margin-t--xs     {margin-top: $spacing--xsmall !important;}
.margin-t--s      {margin-top: $spacing--small !important;}
.margin-t--m,
.margin-t         {margin-top: $spacing !important;}
.margin-t--l      {margin-top: $spacing--large !important;}
.margin-t--xl     {margin-top: $spacing--xlarge !important;}
.margin-t--auto   {margin-top: auto !important;}

// Bottom
.margin-b--remove {margin-bottom: 0 !important;}
.margin-b--xs     {margin-bottom: $spacing--xsmall !important;}
.margin-b--s      {margin-bottom: $spacing--small !important;}
.margin-b--m,
.margin-b         {margin-bottom: $spacing !important;}
.margin-b--l      {margin-bottom: $spacing--large !important;}
.margin-b--xl     {margin-bottom: $spacing--xlarge !important;}
.margin-b--auto   {margin-bottom: auto !important;}

// Left
.margin-l--remove {margin-left: 0 !important;}
.margin-l--xs     {margin-left: $spacing--xsmall !important;}
.margin-l--s      {margin-left: $spacing--small !important;}
.margin-l--m,
.margin-l         {margin-left: $spacing !important;}
.margin-l--l      {margin-left: $spacing--large !important;}
.margin-l--xl     {margin-left: $spacing--xlarge !important;}
.margin-l--auto   {margin-left: auto !important;}

// Right
.margin-r--remove {margin-right: 0 !important;}
.margin-r--xs     {margin-right: $spacing--xsmall !important;}
.margin-r--s      {margin-right: $spacing--small !important;}
.margin-r--m,
.margin-r         {margin-right: $spacing !important;}
.margin-r--l      {margin-right: $spacing--large !important;}
.margin-r--xl     {margin-right: $spacing--xlarge !important;}
.margin-r--auto   {margin-right: auto !important;}

