@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

$color--black: #191919;
$color--white: #ffffff;
$color--blue: #18A0FB;


$spacing: 20px;
$spacing--xsmall: $spacing / 4;
$spacing--small:  $spacing / 2;
$spacing--large:  $spacing * 2;
$spacing--xlarge: $spacing * 4;

// Widths
$breakpoint--xsmall: 460px;
$breakpoint--small: 620px;
$breakpoint--medium: 800px;
$breakpoint--large: 1000px;
$breakpoint--xlarge: 1400px;

:root {
  --color-black: #191919;
  --color-white: #ffffff;
  --color-blue: #18A0FB;

  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-accent: var(--color-blue);

  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}