.padding--remove {padding: none;}
.padding--xs     {padding: $spacing--xsmall;}
.padding--s      {padding: $spacing--small;}
.padding--m,
.padding         {padding: $spacing;}
.padding--l      {padding: $spacing--large;}
.padding--xl     {padding: $spacing--xlarge;}

// Vertical
.padding-v--remove {padding-top: none; padding-bottom: none;}
.padding-v--xs     {padding-top: $spacing--xsmall; padding-bottom: $spacing--xsmall;}
.padding-v--s      {padding-top: $spacing--small; padding-bottom: $spacing--small;}
.padding-v--m,
.padding-v         {padding-top: $spacing; padding-bottom: $spacing;}
.padding-v--l      {padding-top: $spacing--large; padding-bottom: $spacing--large;}
.padding-v--xl     {padding-top: $spacing--xlarge; padding-bottom: $spacing--xlarge;}

// Horizontal
.padding-h--remove {padding-left: none; padding-right: none;}
.padding-h--xs     {padding-left: $spacing--xsmall; padding-right: $spacing--xsmall;}
.padding-h--s      {padding-left: $spacing--small; padding-right: $spacing--small;}
.padding-h--m,
.padding-h         {padding-left: $spacing; padding-right: $spacing;}
.padding-h--l      {padding-left: $spacing--large; padding-right: $spacing--large;}
.padding-h--xl     {padding-left: $spacing--xlarge; padding-right: $spacing--xlarge;}

// Top
.padding-t--remove {padding-top: none;}
.padding-t--xs     {padding-top: $spacing--xsmall;}
.padding-t--s      {padding-top: $spacing--small;}
.padding-t--m,
.padding-t         {padding-top: $spacing;}
.padding-t--l      {padding-top: $spacing--large;}
.padding-t--xl     {padding-top: $spacing--xlarge;}

// Bottom
.padding-b--remove {padding-bottom: none;}
.padding-b--xs     {padding-bottom: $spacing--xsmall;}
.padding-b--s      {padding-bottom: $spacing--small;}
.padding-b--m,
.padding-b         {padding-bottom: $spacing;}
.padding-b--l      {padding-bottom: $spacing--large;}
.padding-b--xl     {padding-bottom: $spacing--xlarge;}

// Left
.padding-l--remove {padding-left: none;}
.padding-l--xs     {padding-left: $spacing--xsmall;}
.padding-l--s      {padding-left: $spacing--small;}
.padding-l--m,
.padding-l         {padding-left: $spacing;}
.padding-l--l      {padding-left: $spacing--large;}
.padding-l--xl     {padding-left: $spacing--xlarge;}

// Right
.padding-r--remove {padding-right: none;}
.padding-r--xs     {padding-right: $spacing--xsmall;}
.padding-r--s      {padding-right: $spacing--small;}
.padding-r--m,
.padding-r         {padding-right: $spacing;}
.padding-r--l      {padding-right: $spacing--large;}
.padding-r--xl     {padding-right: $spacing--xlarge;}

