
.hidden {display: none !important;}

@include biggerThan($breakpoint--xsmall) {
  .hidden\@xs {display:none !important;}
}
@include smallerThan($breakpoint--xsmall) {
  .visible\@xs {display:none !important;}
}

@include biggerThan($breakpoint--small) {
  .hidden\@s {display:none !important;}
}
@include smallerThan($breakpoint--small) {
  .visible\@s {display:none !important;}
}

@include biggerThan($breakpoint--medium) {
  .hidden\@m {display:none !important;}
}
@include smallerThan($breakpoint--medium) {
  .visible\@m {display:none !important;}
}

@include biggerThan($breakpoint--large) {
  .hidden\@l {display:none !important;}
}
@include smallerThan($breakpoint--large) {
  .visible\@l {display:none !important;}
}

@include biggerThan($breakpoint--xlarge) {
  .hidden\@xl {display:none !important;}
}
@include smallerThan($breakpoint--xlarge) {
  .visible\@xl {display:none !important;}
}