svg:not([width]) {width: 1.5em;}
svg:not([width]) {height: 1.5em;}

svg.icon-loading {
  path:first-child {
    stroke-dasharray: 180;
    animation-delay: 1.5s;
    animation: loadingIconInner 5s ease-in-out infinite;
  }
  path:last-child {
    stroke-dasharray: 455;
    animation: loadingIconOuter 5s ease-in-out infinite;
  }
}



@keyframes loadingIconInner {
  0% {
    stroke-dashoffset: 180;
  }
  35% {
    stroke-dashoffset: 180;
  }
  45% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: 0;
  }
  85% {
    stroke-dashoffset: 0;
  }
  95% {
    stroke-dashoffset: -180;
  }
  100% {
    stroke-dashoffset: -180;
  }
}

@keyframes loadingIconOuter {
  0% {
    stroke-dashoffset: 455;
  }
  5% {
    stroke-dashoffset: 455;
  }
  45% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: 0;
  }
  55% {
    stroke-dashoffset: 0;
  }
  95% {
    stroke-dashoffset: -455;
  }
  100% {
    stroke-dashoffset: -455;
  }
}